*{
			font-family:verdana,tahoma,sans-serif;
		}
		
	
 		header{
 			background: url("../images/cats.jpg");
 			height:195px;
			width: 1000px; 
			margin-left: auto; 
			margin-right: auto; 
 		}
 		
 		header h1{
 			margin:0;
 			color:rgb(255, 106, 175);
			-webkit-text-stroke: darkred 3px;;
 			text-align:center;
 			font-size:100px;
 			padding-top: 35px;
 		}

		#userInput{text-align: center;}
 		
 		#status{
 			font-style: italic;
 		}

		#content { 
			margin: 0 auto; /*ditribute content across the screen evenly to avoidiung touch both sides*/
			width: 90%; 
			display: grid; 
			/* grid-template-columns: repeat(4, 100px); # of columns, how big */
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* repsonsive layout */ 
			gap: 20px; /*spacing between grid elements*/
		}
		
		.result {
			display: flex; 
			flex-direction: column; 
		}

		.result img {
			width: 100%; 
			box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, .4); 
		}

		.result span {
			order: -1; /* places it in front of evrything else; everything by default is order 0*/
		}
 		
 		/* .result {
			position: relative;
			height: 175px;
			width: 100px;
			float:left;
			border:1px solid gray;
			padding:5px;
			margin-left:10px;
			margin-bottom:10px;
		}

		.result img {
			position: absolute;
			left: 5px;
			bottom: 5px;
			display:block;
			
		}
		
		.result span{
			font-size:12px;
			font-weight:bold;
			display:block;
		}
		
		.result audio{
			width: 130px;
		}
		 */

		button{
		  display : inline-block;
		  cursor : pointer;
  
		  border-style : solid;
		  border-width : 1px;
		  border-radius : 50px;
		  padding : 10px 18px;
		  box-shadow : 0 1px 4px rgba(0,0,0,.6);
		  font-size : 9.5pt;
		  font-weight : bold;
		  color : #fff;
		  text-shadow : 0 1px 3px rgba(0,0,0,.4);
		  font-family : sans-serif;
		  text-decoration : none;
		}
		
		button.green{
			border-color: #ffbae1;
	  		background: #ffbae1;
	  	    background: linear-gradient(top, #ffbae1 0%,#fb81de 100%);
		}
		
		button:hover{
			background: #e860ad;
		}
		
		button:active{
			background: #e860ad;
			box-shadow : 0 0 6px rgba(0,0,0,.6);
		}
		
		button:focus {outline:0;}
		
		.widgets{
			margin-top: 1em;
			margin-bottom:1em;
		}