body{background-color: gray;}
h3{font-style: italic;}

#wrapper{
    text-align: center;
}

/*user interactions*/ 
#userInteraction{display: flex; flex: center;}
#searchBar{margin: auto 1rem 3rem 1rem;}
button{
		  display : inline-block;
		  cursor : pointer;
		  border-style : solid;
		  border-width : 1px;
		  border-radius : 50px;
		  padding : 10px 18px;
		  box-shadow : 0 1px 4px rgba(0,0,0,.6);
		  font-size : 9.5pt;
		  font-weight : bold;
		  color : #fff;
		  text-shadow : 0 1px 3px rgba(0,0,0,.4);
		  font-family : sans-serif;
		  text-decoration : none;
		}
		
		button{
			border-color: #010200;
	  		background: #378400;
	  	    background: linear-gradient(top, #378400 0%,#255c01 100%);
		}
		
		button:hover{
			background: #549e01;
		}
		
		button:active{
			background: #549e01;
			box-shadow : 0 0 6px rgba(0,0,0,.6);
		}
		
		button:focus{outline:0;}

/*Results display*/ 
#content{
    margin: 4px auto; /*ditribute content across the screen evenly to avoidiung touch both sides*/
    width: 90%; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* repsonsive layout */ 
    gap: 20px; /*spacing between grid elements*/
}

.result{display: flex; flex-direction: column;} 

.result img{
	width: 100%; 
}