/*fonts*/

/*headings*/
h1{font-weight: bold;}
h2{font-weight: bold;}
h3{color: white;}

/*misc.*/
.blueWriting{color: rgb(64, 114, 208);}
body{background-color: rgb(32, 32, 67); color :beige;}
p{font-family: 'Merriweather', 'Times New Roman', sans-serif;}
footer{text-align: right; margin-right: 1rem;}

/*content layout*/
#flexContent{
        display: flex; 
        margin-left: 3rem; 
        width: 1150px; 
        height: 500px; 
    }

#flexContent article{
        max-width: 600px; 
}

#flexContent section{
        margin-left: 4rem; 
        margin-top: 1rem; 
        background-color: rgb(154, 252, 221); 
        max-width: 250px;
}

#insightBlurb h1 {margin-top: 5px; height: 27px;}

#advert h2 {font-size: 20px; text-align: center; margin-bottom: 8px;}

#advert p {text-indent: 25px; margin-top: 8px; margin-bottom: 7px; }

#advert h2, #advert p{margin-left: 1rem; margin-right: 1rem; color: rgb(18, 67, 31)}

#mainText {margin-left: 0px; margin-bottom:0px;}

li {margin-bottom: 1rem;}
#blackDisplay p{max-width: 827px; color: white; text-align: left; column-count: 3; padding-left: 60px; padding-right: 60px; padding-bottom: 25px;}

#blackDisplay h1{color: rgb(3, 160, 228); text-align: left; padding-top: 8px; margin-left: 1rem;}

#blackDisplay article{background-color: black; width: 909px; margin-left: 300px; position: relative; transform: translateY(7px)}

#blackDisplay article>:not(#diagonalImage){
    position: relative;
    z-index: 2;
}

#collection{width:700px; height: auto; transform: translateX(300px) translateY(5px)}
#diagonalImage{float: left; transform:rotate(45deg); padding-top: 25px; width: 285px; position: absolute; left:-15rem; shape-outside:url("../media/sideways element.png")}
#cornerWrap{float: left; shape-outside: url("../media/sideways element.png"); shape-margin: 15px; shape-image-threshold: 0.5px;}

#bestHeader{transform: translateX(300px) translateY(31px);}

/*footer*/ 
#seasonIssued{padding-left: 30px;}
#SI, #halfG, #HT{font-size: 24px; font-weight: bold;}

/*attempt to wrap text around image - need guidance*/ 
#halfG{
    background: linear-gradient(to right, beige 50%, rgb(140, 207, 240) 50%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

#HT{color: rgb(140, 207, 240);}

/*overall website layout*/
#wrapper{  /*mobile*/ 
    display: grid;  /*don't define rows and columns because everything appears after the other*/
    grid-template-rows: auto auto auto 400px auto;
    grid-template-areas: 
        "header"
        "content" 
        "sidebar"
        "sidenote"
        "footer";
}

/*change image size for desktop to its original size*/ 
/*move  sidebar into first column for tablets*/
@media(min-width: 850px){
    #wrapper{ 
        grid-template-columns: 1199px 203px; /*scaled image down by 85%*/ 
        grid-template-rows: 674px 500px 380px auto;
        grid-template-areas: 
            "header    sidebar"
            "content   sidebar"
            "sidenote   sidenote"
            "footer    footer"
    }

    #flexContent section{
        margin-left: auto; }

    #blackDisplay{
        text-align: right;
        margin-right: 1rem; 
        justify-self: flex-start; /*centering*/
    }

    #blackDisplay h1{margin-top: 10px;}
    #bestHeader{margin-right: 814px; transform: translateX(180px) translateY(26px);}
    #blackDisplay p{float: center; margin-right: 15px; padding-left: 60px; padding-bottom: 0px;}
    #blackDisplay article{float: right; margin: 0px; transform:translateY(2px);}
    #collection{transform: translateX(0px);}
    @media(min-width: 1457px){
        #wrapper{justify-content: center;}
    } 

}



/*define what text belongs in what section of the grid*/
#pageHeader{grid-area: header; }
#bulletSidebar{grid-area: sidebar; margin-left: 1rem; margin-right: 12px;}
#content{grid-area: content;} 
#blackDisplay{grid-area: sidenote;}
footer{grid-area: footer;}

/*text-image setup*/ 
#pageHeader{position: relative; width: 1199px; height: 674px;}
#titleImg{width: 100%; height: 100%;  object-fit: fill;}
#title{font-family: sans-serif; position: absolute; left: 5%; right: 85%; transform: translate( -5% -85%);}

/*letter positioning for text-image setup*/ 
#B{font-size: 100px;}
#U{
    font-size: 110px; 
    position: absolute;
    transform: translateY(30px); 
    left: 33%;
    top: 11%;
}
#blueZ{
    font-size: 120px;
    position: absolute;
    left: 76%;
    z-index: 2;
}
#Z{
    font-size: 120px;
    top: 50%;
    position: absolute;
    left: 88%;
}
#descriptor{position: absolute; top:94%; right: 83%; transform: translate(-94% -83%)}

