/*fonts*/

/*headings*/
h1{font-weight: bold;}
h2{font-weight: bold;}
h3{color: white;}

/*misc.*/
.redWriting{color: red;}

footer{text-align: right; margin-right: 1rem;}

/*content layout*/
#flexContent{
        display: flex; 
        margin-left: 3rem; 
        width: 1150px; 
        height: 500px; 
    }

#flexContent article{
        max-width: 600px; 
}

#flexContent section{
        margin-left: 4rem; 
        margin-top: 1rem; 
        background-color: rgb(228, 138, 3); 
        max-width: 250px;
}

#insightBlurb h1 {margin-top: 5px; height: 27px;}

#advert h2 {font-size: 20px; text-align: center;}

#advert h2, #advert p{margin-left: 1rem; margin-right: 1rem;}

#mainText {margin-left: 0px; margin-bottom:0px;}

#blackDisplay p{max-width: 600px; color: white; text-align: left; column-count: 3; padding-left: 60px; padding-bottom: 15px;}

#blackDisplay h1{color: rgb(228, 138, 3); text-align: left; padding-top: 8px; margin-left: 1rem;}

#blackDisplay article{background-color: black; width: 700px; margin-left: 300px; position: relative; transform: translateY(-22px)}

#blackDisplay article>:not(#diagonalImage){
    position: relative;
    z-index: 2;
}

#collection{width:700px; height: auto; transform: translateX(300px) translateY(5px)}
#diagonalImage{transform:rotate(45deg); padding-top: 25px; width: 285px; position: absolute; left:-15rem; float: left; shape-outside:circle(100%)}
#cornerWrap{float: left; shape-outside: url("media\sideways element.png"); shape-margin: 15px; shape-image-threshold: 0.5px;}

#bestHeader{transform: translateX(300px) translateY(31px);}
/*footer*/ 

#seasonIssued{padding-left: 30px;}
#VE, #halfR, #GE{font-weight: bold;}

/*attempt to wrap text around image - need guidance*/ 
#halfR{
    background: linear-gradient(to right, black 50%, red 50%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

#GE{color: red;}

/*overall website layout*/
#wrapper{  /*mobile*/ 
    display: grid;  /*don't define rows and columns because everything appears after the other*/
    grid-template-rows: auto auto auto 400px auto;
    grid-template-areas: 
        "header"
        "content" 
        "sidebar"
        "sidenote"
        "footer"
}

/*change image size for desktop to its original size*/ 
/*move  sidebar into first column for tablets*/
@media(min-width: 850px){
    #wrapper{ 
        grid-template-columns: 1199px 203px; /*scaled image down by 85%*/ 
        grid-template-rows: 808px 500px 380px auto;
        grid-template-areas: 
            "header    sidebar"
            "content   sidebar"
            "sidenote   sidenote"
            "footer    footer"
    }

    #flexContent section{
        margin-left: auto; }

    #blackDisplay{
        text-align: right;
        margin-right: 1rem; 
    }

    #blackDisplay h1{margin-top: 10px;}
    #bestHeader{margin-right: 814px; transform: translateX(300px) translateY(26px);}
    #blackDisplay p{float: center; margin-right: 15px; padding-left: 20px; padding-bottom: 0px;}
    #blackDisplay article{float: right; margin: 0px; transform:translateY(-5px);}
    #collection{transform: translateX(0px);}

     @media(min-width: 1457px){
        #wrapper{justify-content: center;}
    }

}

/*define what text belongs in what section of the grid*/
#pageHeader{grid-area: header; }
#bulletSidebar{grid-area: sidebar; margin-left: 1rem; margin-right: 12px;}
#content{grid-area: content;} 
#blackDisplay{grid-area: sidenote;}
footer{grid-area: footer;}

/*text-image setup*/ 
#pageHeader{position: relative; width: 1199px; height: 808px;}
#titleImg{width: 100%; height: 100%;  object-fit: fill;}
#title{font-family: sans-serif; position: absolute; left: 5%; right: 85%; transform: translate( -5% -85%);}

/*letter positioning for text-image setup*/ 
#B{font-size: 100px;}
#U{
    font-size: 110px; 
    position: absolute;
    transform: translateY(30px); 
    left: 33%;
    top: 11%;
}
#redZ{
    font-size: 120px;
    position: absolute;
    left: 76%;
    z-index: 2;
}
#Z{
    font-size: 120px;
    top: 50%;
    position: absolute;
    left: 88%;
}
#descriptor{position: absolute; top:94%; right: 83%; transform: translate(-94% -83%)}

