@font-face {font-family: Chewy; src: url(../media/Chewy-Regular.ttf);}
@font-face{font-family: Chide; src: url(../media/Chicle-Regular.ttf);}

h1{
    font-family: Chide; 
    font-size: 40px; 
    letter-spacing: 3px; 
    margin-top: 16px; 
    margin-bottom: 16px; 
}

h2{
    font-family: Chewy; 
    font-weight: bold; 
    font-size: 27px; 
    letter-spacing: 3px; 
    color: rgb(175, 143, 250);
    text-align: center; 
}

p{
    font-family: serif; 
    font-size: 17px; 
    text-align: center;
}

a {font-size: 20px;}

img {
    display: block; 
    margin: auto; 
    width: 35%; 
    justify-self: center;
}

body{background-color: rgb(255, 238, 187);}

h1{text-align: center; color: rgb(182, 146, 248);}

#content{
    display: grid; 
    grid-template-columns: 45% 45%;
    gap: 5%; 
}

#artDirection{
    background-color: rgba(255, 246, 227, 0.336); 
    border-radius: 10px;  
    margin-left: 2vw;
    margin-top: 15px; 
    padding-left: 20px; 
    padding-right: 20px;  
    padding-bottom: 15px;  
}

#artDirection a {position: absolute; left: 17%}

#technicalDirection{
    background-color: rgba(255, 246, 227, 0.336); 
    border-radius: 10px;  
    margin-left: 2vw;
    margin-top: 15px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 15px;  
}

#aboutSection{
    text-align: center;
    background-color: rgba(255, 246, 227, 0.336); 
    border-radius: 10px;  
    padding: 5px 30px; 
    width: 100%; 
    margin-left: 25vw; 
    margin-bottom: 25px;  
}
